<h3>Hero Editor</h3>
<input #newHero placeholder="Hero Name"
    (keyup.enter)="btnNewHeroHandler(newHero.value); newHero.value=''"
    (blur)="btnNewHeroHandler(newHero.value); newHero.value='' ">

<button (click)="addHero(newHero.value)">Add Hero</button>
<p>Available heroes:</p>
<p *ngIf="heroes.length === 0" class="noHeroesText">Heroes will be displayed here!</p>
<ul class="heroes">
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="liSelectHeroHandler(hero)">
    <span class="heroBadge"> {{hero.id}} </span> {{hero.name}}
    </li>
</ul>
<div *ngIf="selectedHero">
    <h2> {{selectedHero.name | uppercase }} is my hero.
    <button (click)="gotoHeroDetails()">View Details</button>